<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <title>掲示板</title>
</head>
<body>
<h1>聡明舎 共有掲示板</h1>
<p>MTGで共有できなかった情報を、どんどん共有していきましょう！</p>
<section>
    <h2>新規投稿</h2>
    <form method="post" action="/index" th:object="${messageForm}">
        <div class="name">
            <span class="label">名前:</span><input type="text" th:field="*{name}">
            <span class="label">　削除用パスワード:</span><input type="password" th:field="*{deletePassword}">
        </div>
        <br/>
        <div class="message">
            <span class="label">本文:</span><textarea cols="66" rows="5" wrap="hard" th:field="*{message}"></textarea>

        </div>
        <input type="submit" value="投稿">
    </form>
</section>
<section class="posts">
    <h2>投稿一覧</h2>
    <div th:if="${result != ''}">
        <p class="done" th:text="${result}"></p>
    </div>
    <article>
        <div class="sample_box8" th:each="message : ${messageList}">
            <div th:text="${message.auto_no}"></div>
            <h3 th:text="${message.name}"></h3>
            <time th:text="${#dates.format(message.date, 'YYYY年M月d日H時m分')}"></time>
            <form class="delete" method="post" action="/index">
                <div><span class="label">削除pass：</span><input type="text" name="deletepass"></div>
                <div><input type="submit" value="削除" name="delete"></div>
                <div><input type="hidden" name="number" th:value="${message.auto_no}"></div>
            </form>
            <p>
                <th:block th:if="${message.message}">
                    <th:block th:each="str, stat : ${message.message.split('\r\n|\r|\n', -1)}">
                        <th:block th:text="${str}"/>
                        <br th:if="${!stat.last}"/>
                    </th:block>
                </th:block>
                <br/>
            </p>
        </div>
    </article>
</section>
</body>
</html>